@import url('./basecss.css');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0 24px;
}
.conteiner {
  margin: 0 auto;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0 24px;
}
.header__search {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 0 8px;
  outline: none;
  padding-left: 32px;
  width: 300px;
  height: 40px;
}
.header__search:focus {
  background-image: url(../img//search_active.svg);
  background-repeat: no-repeat;
  background-position: 0px 8px;
  outline: none;
  border-bottom: 2px solid #e97f03;
  transition: all 0.2s;
}
.header__search:focus::placeholder {
  color: transparent;
}
.header__search::placeholder {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}
.header__item-link {
  margin-left: 18px;
}
.products-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -8px;
}
.products-inner__item {
  max-width: 220px;
  height: 272px;
  margin: 8px 8px;
  padding: 40px 0 24px;
  text-align: center;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.products-inner__item:hover {
  background-color: #f2f2f2;
}
.item__like-btn {
  position: absolute;
  top: 11px;
  right: 10px;
}
.item__text {
  color: #000000;
  margin-bottom: 19px;
}
.item__price {
  color: #545454;
}
.basket__item {
  display: flex;
}
.basket__item-img-wrapper {
  min-width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket__item-description {
}
.basket__item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.basket__item-text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 24px;
}
.basket__item-subtitle {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 16px;
}
.basket__item-menu {
  display: flex;
}
.basket__item-prise {
  font-size: 36px;
  line-height: 42px;
  color: #e97f03;
  margin-right: 16px;
  margin-bottom: 16px;
}
.basket_btns {
  display: flex;
}
.btn__one {
  display: flex;
}
.btn__minus {
  border: 1px solid #323232;
  padding: 9px 9px;
}
.btn__input {
  border: 1px solid #323232;
  margin: 0 -1px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  width: 100px;
}
.btn__plus {
  border: 1px solid #323232;
  padding: 9px 9px;
}
.basket__btn-add {
  background-color: #e97f03;
  padding: 3px 20px;
  color: #ffffff;
  font-size: 24px;
  line-height: 28px;
  border-radius: 10px;
  margin: 0 16px;
}
.basket__btn-add:hover {
  background-color: #e99330;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
@media (max-width: 510px) {
  .header__item-link {
    margin-left: 8px;
  }
  .item-link {
    width: 155px;
  }
  .item__img {
    width: 155px;
    height: 140px;
    object-fit: none;
  }
}
@media (max-width: 890px) {
  .header__search {
    width: 200px;
  }
  .basket__item-menu {
    display: block;
    position: relative;
    padding-bottom: 24px;
  }
  .basket__like-btn {
    position: absolute;
    top: 13px;
    right: 0;
  }
  .basket_btns {
    justify-content: space-between;
  }
  .btn__input {
    width: 60px;
  }
  .basket__btn-add {
    margin: 0;
  }
  .basket__item {
    display: block;
  }
  .basket__item-img-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 -24px 16px;
    background: -moz-linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 37%,
      rgba(217, 217, 217, 1) 85%,
      rgba(194, 194, 194, 1) 100%
    );
    background: -ms-linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 37%,
      rgba(217, 217, 217, 1) 85%,
      rgba(194, 194, 194, 1) 100%
    );
    background: -o-linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 37%,
      rgba(217, 217, 217, 1) 85%,
      rgba(194, 194, 194, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 37%,
      rgba(217, 217, 217, 1) 85%,
      rgba(194, 194, 194, 1) 100%
    );
  }
  .basket__img {
    margin: 0;
  }
}
