.inner {
  width: 220px;
  height: 272px;
  margin: 8px 8px;
  padding: 40px 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  &:hover {
    background-color: #f2f2f2;
  }
}
.item__img {
  margin-bottom: 20px;
}
.item__text {
  color: #000000;
  margin-bottom: 19px;
}
.item__price {
  color: #545454;
}
@media (max-width: 510px) {
  .item-link {
    width: 155px;
  }
  .item__img {
    width: 155px;
    height: 140px;
    object-fit: none;
  }
}
