
.basket__item {
  display: flex;
}
.basket__item-img-wrapper {
  min-width: 300px;
  height: 300px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.basket__item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.basket__item-text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 24px;
}
.basket__item-subtitle {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 16px;
}
.basket__item-menu {
  display: flex;
  position: relative;
}
.basket__item-prise {
  font-size: 36px;
  line-height: 42px;
  color: #e97f03;
  margin-right: 16px;
  margin-bottom: 16px;
}

@media (max-width: 890px) {
  .basket__item-menu {
    display: block;
    position: relative;
    padding-bottom: 24px;
  }
  .basket__like-btn {
    position: absolute;
    top: 13px;
    right: 0;
  }
  .basket_btns {
    justify-content: space-between;
  }
  .btn__input {
    width: 60px;
  }
  .basket__btn-add {
    margin: 0;
  }
  .basket__item {
    display: block;
  }
  .basket__item-img-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 -24px 16px;
    background: -moz-linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 37%,
      rgba(217, 217, 217, 1) 85%,
      rgba(194, 194, 194, 1) 100%
    );
    background: -ms-linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 37%,
      rgba(217, 217, 217, 1) 85%,
      rgba(194, 194, 194, 1) 100%
    );
    background: -o-linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 37%,
      rgba(217, 217, 217, 1) 85%,
      rgba(194, 194, 194, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 37%,
      rgba(217, 217, 217, 1) 85%,
      rgba(194, 194, 194, 1) 100%
    );
  }
}
